@{
    ViewData["Title"] = "Iinicio De Sesion";
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="estilo.css">
    <script src="https://kit.fontawesome.com/4cb92db068.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="contener">
        <div class="conta">
            <div class="content">
                <main class="main">
                    <img class="img" src="~/undraw_male_avatar_323b.svg" alt="logo"></img>
                    <h1>Iniciar Sesion</h1>
                    <dev class="panel">
                        <i class="far fa-user user"></i>
                        <input class="input" type="email" placeholder="        Usuario">
                        </input>

                        <i class="fas lock fa-lock-open"></i>
                        <input class="input" type="password" placeholder="        Contraseña">
                        
                        </input>

                        <a class="boton" href="~/Login/main" >Aceptar</a>
                    </dev>

                    <p class="title">
                        No tengo una cuenta,
                        <a href="~/Login/registrar"> crea una.</a>
                    </p>
                </main>
            </div>

        </div>

    </div>
    


</body>

</html>