@{
    ViewData["Title"] = "jhonatan";
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4cb92db068.js" crossorigin="anonymous"></script>
}


<div class="conta">
        <h1>hola como esta</h1>

</div>
 