/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.iconLogin{
  color: #A9BED1;
  font-size: 20px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
  

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  background-image: 
    radial-gradient(#7BED8D 1px, transparent 1px),
    radial-gradient(#7BED8D 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.contener{
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.main {
  
  min-height: 100vh;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
  height: 90vh;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.input {
  margin: 10px;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #F0F4F8;
  outline: none;
  text-align: left;
  background-color: #F0F4F8;
  color: #7A8FA1;
  padding: some-corrections;
  font-size: 16px;
  padding: some-corrections;
  position: relative;
  z-index: 3;
  padding: some-corrections;
  padding-left: 10px;
}


.input::placeholder {
  color: #A9BED1;
}

.user {
  position: absolute;
pointer-events: none;
z-index: 2;
  color: #A9BED1;
  margin: -120px 0 0 -279px;
  font-size: 16px;

}

.input:placeholder-shown {
  z-index: 1;
}


.lock {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  color: #A9BED1;
  margin: 0px 0 0 -279px;
  font-size: 16px;

}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  width: 30vh;
  place-items: center;

}

.title {
  color: #7A8FA1;
}

.title a {
  color: #7BED8D;
}

.boton {
  border-radius: 20px;
  border: 1px solid #7BED8D;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  outline: none;
  background-color: #7BED8D;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  color: #fff;
  text-align: center;

}

.boton:hover {
  color: #7A8FA1;
  background-color: #fff;
  outline: none;
}

.img {
  width: 250px;
}

.conta {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #7BED8D;
}
/*-----------------------------------------registro-------------------------------------------*/
.panelRegistro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  width: 30vh;
  place-items: center;
  
}
.iconCorreo{
  position: absolute;
  pointer-events: none;
  z-index: 2;
  color: #A9BED1;
  margin: -180px 0 0 -279px;
  font-size: 16px;
}
.lock1 {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  color: #A9BED1;
  margin: 185px 0 0 -279px;
  font-size: 16px;

}
.user1 {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  color: #A9BED1;
  margin: 60px 0 0 -279px;
  font-size: 16px;

}
.iconTelefono {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  color: #A9BED1;
  margin: -60px 0 0 -279px;
  font-size: 16px;

}
.user2 {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  color: #A9BED1;
  margin: -295px 0 0 -279px;
  font-size: 16px;

}
/* main*/
.holamundo{
  background-color: #A9BED1;
  display: flex;
  flex-direction:row;
  justify-content: center;
  place-items: center;
  width: 150vh;
}
