@{
    ViewData["Title"] = "Iinicio De Sesion";
    
}


<div class="contener">
    <div class="conta">
        <div class="content">
            <main class="main">

                
                <img class="img" src="~/undraw_Surveillance_re_8tkl.svg" alt="logo"></img>
                <h1>Iniciar Sesion</h1>
                <i class="">

                </i>
                <form   class="panel" id="formulario" name="formulario">
                    <i class="far fa-user user"></i>
                    <input class="input" type="email" name="usuario" id="usuario" placeholder="        Usuario">
                    </input>

                    <i class="fas lock fa-lock-open"></i>
                    <input class="input" type="password" name="clave" id="clave" placeholder="        Contraseña">

                    </input>

                    <div class="wrapper">

                        <div class="button animation" type="submit" value="Entrar">
                            <p type="submit" value="Entrar" >Aceptar</p>
                        </div>

                    </div>
                </form >

                <p class="title">
                    No tengo una cuenta,
                    <a href="~/Inicio/registrar"> crea una.</a>
                </p>
            </main>
        </div>

    </div>
     <script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/js/site.js"></script>
   

</div>
